header{
    background-color: tomato;
}

.kiosco{
    display: flex;
}

.lista{
    display: flex;
    justify-content:center;
}

header img{
    width: 70px;

}

header li{
    margin-left: 40px;
    list-style: none;
}

h1{
    text-align: center;
    color:gray ;
    font-size: 40px;
}

h2{
    color: gray;
    margin-left: 6%;
}

#parte1{
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

#parte1 img{
    width: 60%;
    margin-left: 85px;
}
#parte1 p{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}

#parte2{
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

#parte2 img{
    width: 60%;
    margin-left: 85px;
}
#parte2 p{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#parte3{
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

#parte3 img{
    width: 60%;
    margin-left: 85px;
}
#parte3 p{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

footer{
    height: 40px;
    background-color: tomato;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

footer p{
    padding-top: 1%;
}
summary {
    list-style: none;
 }

details{
    width: 100%;
}

fieldset{
    width: 100%;
}